<mat-drawer-container
  class="min-h-full max-w-7xl mx-auto border-x"
  [autosize]="true"
>
  <mat-drawer mode="side" opened class="p-6">
    <app-filters (showCategory)="onShowCategory($event)"></app-filters>
  </mat-drawer>
  <mat-drawer-content class="p-6">
    <!-- to insert component into another using selector name -->
    <!-- we make use of input parameter $event because the
     onColumnsCountChange will receive input from child component-->
    <app-products-header
      (columnsCountChange)="onColumnsCountChange($event)"
    ></app-products-header>
    <!-- {{ category }} -->
    <mat-grid-list gutterSize="16" [cols]="cols" [rowHeight]="rowHeight">
      <mat-grid-tile>
        <app-product-box
          class="w-full"
          [fullWidthMode]="cols === 1"
        ></app-product-box>
      </mat-grid-tile>

      <mat-grid-tile>
        <app-product-box
          class="w-full"
          [fullWidthMode]="cols === 1"
        ></app-product-box>
      </mat-grid-tile>
      <mat-grid-tile>
        <app-product-box
          class="w-full"
          [fullWidthMode]="cols === 1"
        ></app-product-box>
      </mat-grid-tile>

      <mat-grid-tile>
        <app-product-box
          class="w-full"
          [fullWidthMode]="cols === 1"
        ></app-product-box>
      </mat-grid-tile>

      <mat-grid-tile>
        <app-product-box
          class="w-full"
          [fullWidthMode]="cols === 1"
        ></app-product-box>
      </mat-grid-tile>

      <mat-grid-tile>
        <app-product-box
          class="w-full"
          [fullWidthMode]="cols === 1"
        ></app-product-box>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-drawer-content>
  <mat-drawer-content class="p-4"> </mat-drawer-content>
</mat-drawer-container>
